<?xml version="1.0"?>
<!--
/**
 * Zkilleman_Lookbook
 *
 * Copyright (C) 2012 Henrik Hedelund (henke.hedelund@gmail.com)
 *
 * This file is part of Zkilleman_Lookbook.
 *
 * Zkilleman_Lookbook is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Zkilleman_Lookbook is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Zkilleman_Lookbook. If not, see <http://www.gnu.org/licenses/>.
 *
 * @category Zkilleman
 * @package Zkilleman_Lookbook
 * @author Henrik Hedelund <henke.hedelund@gmail.com>
 * @copyright 2012 Henrik Hedelund (henke.hedelund@gmail.com)
 * @license http://www.gnu.org/licenses/gpl.html GNU GPL
 * @link https://github.com/henkelund/magento-zkilleman-lookbook
 */
-->
<config>
    <modules>
        <Zkilleman_Lookbook>
            <version>0.1.0.0</version>
        </Zkilleman_Lookbook>
    </modules>
    
    <frontend>
        <routers>
            <lookbook>
                <use>standard</use>
                <args>
                    <module>Zkilleman_Lookbook</module>
                    <frontName>lookbook</frontName>
                </args>
            </lookbook>
        </routers>
    </frontend>

    <admin>
        <routers>
            <lookbook>
                <use>admin</use>
                <args>
                    <module>Zkilleman_Lookbook</module>
                    <frontName>lookbook</frontName>
                </args>
            </lookbook>
        </routers>
    </admin>

    <frontend>
        <layout>
            <updates>
                <lookbook>
                    <file>lookbook.xml</file>
                </lookbook>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <lookbook>
                    <file>lookbook.xml</file>
                </lookbook>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <blocks>
            <lookbook>
                <class>Zkilleman_Lookbook_Block</class>
            </lookbook>
        </blocks>
        <helpers>
            <lookbook>
                <class>Zkilleman_Lookbook_Helper</class>
            </lookbook>
        </helpers>
        <models>
            <lookbook>
                <class>Zkilleman_Lookbook_Model</class>
                <resourceModel>lookbook_resource</resourceModel>
            </lookbook>
            <lookbook_resource>
                <class>Zkilleman_Lookbook_Model_Resource</class>
                <entities>
                    <image>
                        <table>lookbook_image</table>
                    </image>
                    <image_tag>
                        <table>lookbook_image_tag</table>
                    </image_tag>
                    <image_tag_index>
                        <table>lookbook_image_tag_index</table>
                    </image_tag_index>
                    <image_tag_indexer_tmp>
                        <table>lookbook_image_tag_index_tmp</table>
                    </image_tag_indexer_tmp>
                    <image_set>
                        <table>lookbook_image_set</table>
                    </image_set>
                    <image_set_image>
                        <table>lookbook_image_set_image</table>
                    </image_set_image>
                </entities>
            </lookbook_resource>
        </models>
        <resources>
            <lookbook_setup>
                <setup>
                    <module>Zkilleman_Lookbook</module>
                </setup>
            </lookbook_setup>
        </resources>
        <index>
            <indexer>
                <lookbook_tag>
                    <model>lookbook/indexer_tag</model>
                </lookbook_tag>
            </indexer>
        </index>
        <lookbook>
            <image>
                <tag>
                    <types>
                        <plain translate="label">
                            <label>Plain Tag</label>
                        </plain>
                        <product translate="label">
                            <label>Product</label>
                        </product>
                        <!--cmsblock translate="label">
                            <label>CMS Block</label>
                            <admin_renderer>lookbook/adminhtml_image_tag_type_cmsblock</admin_renderer>
                        </cmsblock-->
                    </types>
                    <renderer>
                        <default>
                            <title>Default</title>
                            <block>lookbook/image_tag_renderer_default</block>
                        </default>
                    </renderer>
                </tag>
                <renderer>
                    <default>
                        <title>Default</title>
                        <block>lookbook/image_renderer_default</block>
                    </default>
                    <overlay_bar>
                        <title>Overlay Bar</title>
                        <block>lookbook/image_renderer_overlaybar</block>
                    </overlay_bar>
                    <popup>
                        <title>Pop Up</title>
                        <block>lookbook/image_renderer_popup</block>
                        <parameters>
                            <zoom translate="label description">
                                <required>0</required>
                                <visible>1</visible>
                                <label>Zoom</label>
                                <type>text</type>
                                <value>1.5</value>
                                <description><![CDATA[Image zoom ratio.
                                    A decimal value greater than or equal to 1.]]></description>
                            </zoom>
                            <delay translate="label description">
                                <required>0</required>
                                <visible>1</visible>
                                <label>Delay</label>
                                <type>text</type>
                                <value>100</value>
                                <description><![CDATA[Popup delay in milliseconds.]]></description>
                            </delay>
                        </parameters>
                    </popup>
                </renderer>
            </image>
        </lookbook>
    </global>

    <default>
        <cms>
            <lookbook>
                <allow_param_tags>1</allow_param_tags>
                <tags_param_name>tags</tags_param_name>
                <max_param_tags>3</max_param_tags>
            </lookbook>
        </cms>
    </default>
</config>
